{% extends "index.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}

    {% block site_title %}
        {{ title }}
    {% endblock site_title %}

    {% block shop_section %}

        <form action = "/bookin/report" method = "post">
            <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="input-group me-2">

                        <select id = "shop" name = "shop" onchange="disable_submit()" class="form-select form-select-outline-secondary">
                          <option selected>Shop</option>
                            {% for shop in shops %}
                                <option value="{{ shop[0] }}"> {{ shop[1]|title }} </option>
                            {% endfor %}
                        </select>

                        <select id = "months" name = "months" onchange="disable_submit()" class="form-select form-select-outline-secondary">
                          <option selected>month</option>
                            {% for month in date.get_months() %}
                                <option value="{{ month[0] }}">{{ month[1] }} </option>
                            {% endfor %}
                        </select>

                        <select id = "years" name = "years" onchange="disable_submit()" class="form-select form-select-outline-secondary">
                            <option selected>years</option>
                            {% for year in date.get_years() %}
                                <option value="{{ year }}">{{ year }} </option>
                            {% endfor %}
                        </select>
                  </div>
                  <button type="submit" id="btn_book_in_raport" class="btn btn-sm btn-success" disabled>
                    Search
                  </button>
            </div>
        </form>

    {% endblock shop_section %}

{% block main_content %}
    <div id="result">

    </div>

{% endblock %}

{% block js %}
    <script>
        function disable_submit(){
            let shop = document.getElementById("shop");
            shop = shop.options[shop.selectedIndex].text;

            let months = document.getElementById("months");
            months = months.options[months.selectedIndex].text;

            let years = document.getElementById("years");
            years = years.options[years.selectedIndex].text;

            if (shop == 'Shop' || months == 'month' || years == 'years'){
                document.getElementById('btn_book_in_raport').disabled = true;
            }else{
                document.getElementById('btn_book_in_raport').disabled = false;
            }

        }
    </script>
    {% block sub_js %}
    {% endblock sub_js %}
{% endblock js %}